function AlienBullet.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function AlienBullet.update 0
push argument 0
pop pointer 0
push this 1
push constant 2
add
pop this 1
push constant 0
return
function AlienBullet.isOffScreen 0
push argument 0
pop pointer 0
push this 1
push constant 256
gt
return
function AlienBullet.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 1
add
push constant 32
call Math.multiply 2
push this 0
add
push constant 16
call Math.divide 2
pop local 0
push local 0
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push constant 0
return
function AlienBullet.getX 0
push argument 0
pop pointer 0
push this 0
return
function AlienBullet.getY 0
push argument 0
pop pointer 0
push this 1
return
function AlienBullet.setX 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function AlienBullet.setY 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function AlienBullet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
